/* pagina mural */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


body {
  font-family: "metrophobic";
  margin: 0;
  
  background-image: url("../Imgs/fundo-spfc.png");
  background-size: cover;

}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: black;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}


canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  width: 100vw;
  justify-content: center;


}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #373737c4;
  border-inline-end: #ff0000;
}

.header-left img{
  width: 400px;
  height: 250px;
}


.header-left h1 {
  color: red;
}

.hello {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: black;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.graficoQuiz {
  height: 25%;
  width: 65%;
  margin-left: 400px;
  justify-content: center;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 0 0 0 #ff0000 inset,
    20px 0 0 0 white inset,
    30px 0 0 black inset;
  border: solid black;
}

.graficoQuiz h1 {
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  color: black;
}

.graficoJogador {
  height: 10%;
  width: 30%;
  margin-left: 400px;
  justify-content: center;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  align-items: center;
  box-shadow: 10px 0 0 0 #ff0000 inset,
    20px 0 0 0 white inset,
    30px 0 0 black inset;
  border: solid black;
}

.graficoJogador h1 {
  color: black;
  margin-left: 50px;
}