@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.header .logo {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    margin: 0;
    background-color: rgb(70, 4, 4);
    font-family: "metrophobic";
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}
.header{
    background-color: rgba(0, 0, 0, 0.350) ;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.header .navbar{
    color: black;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    font-family: "Montserrat";
}

.navbar a:hover {
    color: red;
}


.navbar li img{
    width: 40px;
}

.login {
    height: 808px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.644) 35%),     
    url("../Imgs/morumbi.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.login .container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.login .container .mens {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-weight: 200px;
}

.login .container .mens h1 {
    margin: 0;
    color: white;
    width: 100%;
    font-size: 50px;
}

.login .container .mens a {
    background-color: rgba(128, 128, 128, 0.637);
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.575);
}

.login .container .mens a img {
    height: 35px;
}

.login .nav {
    background-color: rgba(128, 128, 128, 0.637);
    width: 30%;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .nav p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: flex;
}

.login .nav input {
    width: 400px;
    padding: 10px;
    font-size: larger;
    border-radius: 20px;
    border: none;
}

.login .nav button {
    background-color: rgba(128, 128, 128, 0.637);
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
    border: none;
}

.login .nav button:hover {
    box-shadow: 0 0 30px;
    cursor: pointer;
    transform: scale(1.05);
}

.login .nav button:active {
    transform: scale(1);
}

.login .nav-botao {
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login .botaocadastro a{
    background-color: rgba(128, 128, 128, 0.637);
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
    border: none;
}

a{
    color: black;
    text-decoration: none;
}

.login .botaocadastro a:hover{
    box-shadow: 0 0 30px;
    cursor: pointer;
    transform: scale(1.05);
}

.login .container .botaocadastro{
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span {
    font-weight: bold;
    font-size: 20px;
}

.footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
  }
  
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
  }
  
  .footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer .logo {
    height: 60px;
  }
  
  .footer p {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0;
  }
  
  .footer .sub-info {
    font-weight: 400;
    font-size: 14px;
  }
  
  .footer .email-link {
    color: white;
    text-decoration: underline;
  }
  
