@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "metrophobic";
    margin: 0;
    background-color: white;
    scroll-behavior: smooth;
}

.header .logo {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  background-image: url("../Imgs/morumbi-tour.jpg");
  background-size: cover;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-between;
}
.header {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header .navbar {
  color: black;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}

.header .navbar img{
  width: 40px;
}
.cadastro {
  height: 100vh;
  
 justify-content: center;
  background-position: center;
  display: flex;
  backdrop-filter: brightness(50%);
}
.cadastro .container{
  justify-content: center;
}
.cadastro .container .nav{
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.723);
}

/* Organização em duas colunas */
.cadastro .container .nav .boxer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
}

/* Colunas esquerda e direita */
.coluna-esquerda, .coluna-direita {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Ajustes nos campos de input */
.box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box2 input {
  width: 250px;
  height: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.box2 select {
  width: 250px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

/* Labels */
.box2 p {
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin: 5px 0;
}

.cadastro .container .nav button {
  background-color: rgba(255, 250, 250, 0.56);
  padding: 15px;
  width: 200px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 25px;
  border: none;
}

.cadastro .container .nav-botao {
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cadastro .nav button:hover {
  box-shadow: 0 0 30px;
  cursor: pointer;
  transform: scale(1.05);
}

.cadastro .nav button:active {
  transform: scale(1);
}

.nav-botao .mensagem {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 5vh;
}

