@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "metrophobic";
    margin: 0;
    background-color: white;
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;

}

.header .container{
    justify-content: space-between;
}
.header{
    background-color: rgba(0, 0, 0, 0.404) ;
    position: fixed;
    width: 100%;
    z-index: 50;
    height: 100px;
}

.header .navbar{
    color: black;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    
}
.navbar img{
    width: 40px;
}

.navbar a:hover {
    color: red;
}

.navbar .login{
    justify-content: end;
}

.banner{
    height: 100vh;
    background-image: url('../Imgs/morumbi.png');
    background-size: cover;
    background-position: center bottom;
    box-shadow: 0 -10px 20px white inset;
}


.banner .container p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    justify-content: center;
    width: 45%;
}

.banner .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: brightness(50%);
    width: 100%;
    flex-direction: column;
    position: relative;
    
}

.banner .container .seta a{
    display: flex;
    color: white;
    font-weight: bold;
}

.banner .container p span{
    font-weight: 600px;
    color: white;
}

.social .container{
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-around;  
}
.social{
    background-color: white;
    height: 460px;
    justify-content: center;
    display: flex; 
    align-items: center;      
    gap: 100px;               
    padding: 0 20px;
    text-align: center;
    flex-wrap: wrap; 
    background-size: cover;
    box-shadow: 20px 0 0 #ff0000 inset,
    40px 0 0 white inset, 
    60px 0 0 black inset;
    /* primeiro valor é o x, segundo valor y altura e o terceiro é o raio aumentando a escala, inset colocando a sombra pra dentro */ 
} 

.box img{
    border-radius: 10px;
    width: 550px;

}

.boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    display: flex;
    align-items: center;      
    gap: 40px;               
    padding: 0 40px;
    text-align: center;
    flex-wrap: wrap;
}

.box{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    height: auto;

}

.box p{
    justify-content: center;
    color: black;
    font-size: 20px;
}

.box h3{
    justify-content: center;
    color: black;
    margin-bottom: 0px;
    font-size: large;
    margin-bottom: 16px;
    font-size: 24px;
}

.escudo{
    height: 500px;
    background-color: white;
    box-shadow: 20px 0 0 #ff0000 inset,
    40px 0 0 white inset, 
    60px 0 0 black inset;
    display: flex;
    justify-content: space-between;  
    padding-bottom: 10px;

}

.escudo h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 16px;
}
.escudo span{
    color: red;
    font-weight: 10px;
}

.escudo p {
    color: black;
    font-size: 20px;
    line-height: 1.6;
    max-width: 450px;
}

.uniforme{
    background-color: white;
    box-shadow: 20px 0 0 #ff0000 inset,
    40px 0 0 white inset, 
    60px 0 0 black inset;
    display: flex;  
    justify-content: space-around;
    margin-right: 50px;
    height: 500px;
}

.uniforme p{
    font-size: 18px;
}

.uniforme h3{
    font-size: 24px;
}

.uniforme span{
    justify-content: center;
    margin-left: 30px;
    font-size: 24px;
}
.uniforme img{
    margin-top: 100px;
    height: 320px;
    margin-bottom: 10px;
    justify-content: center;
}

.estadio{
    background-image: url("../Imgs/fundo-spfc.png");
    height: 700px;
    justify-content: space-around;
    ;
}

.estadio .container{
    justify-content: space-around;
}
.estadio .container .box h2{
    margin: 0;
    justify-content: center;
    position: row;
}

.footer {

    background-color: rgb(0, 0, 0);
    padding: 20px 0;
  }
  
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
  }
  
  .footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer .logo {
    height: 60px;
  }
  
  .footer p {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0;
  }
  
  .footer .sub-info {
    font-weight: 400;
    font-size: 14px;
  }
  
  .footer .email-link {
    color: white;
    text-decoration: underline;
  }